.background {
    background-color: #282c34
}

#intro_page_title {
    color: #40aaf2;
}

.page-title{
    font-size: 120px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium',
      'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cursor{
    color:#f8f8f0
    font-size: 100px;
    font-family: sans-serif;
    font-weight: lighter;
    vertical-align: text-top;
}

.center {
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}

#profile_pic {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 20%;
}
